//変数設定
$wrapper-body-width: 1080px;
$section-body-width-sm: 94vw;
$section-body-margin-sm: 0 3%;
$header-logo-width: 208px;
$header-logo-sm-width: 187px;

$color-black: #454545;
$color-light-gray: #fafafa;
$color-light-gray2: #eeeeee;
$color-gray: #575757;
$color-green: #9aaf24;
$color-light-green: #c9e23f;

$font-set-01: 'Montserrat', sans-serif;

$breakpoint-md: 768px;

//wrapper
.wrapper {
    width: $wrapper-body-width;
    margin: 0 auto;
}
@media (max-width: $breakpoint-md) {
    .wrapper {
        width: 100%;
    }
}
//共通
body {
    color: $color-black;
}
.section-title-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .section-title {
        font-family: $font-set-01;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        background: url(../img/titlebar.png) no-repeat left top;
        background-size:40px;
    }
}
html.hidden,
body.hidden {
    overflow: hidden;
    height: 100%;
}
//header
header {
    .site-logo {
        width: $header-logo-width;
        padding: 36px 0;
    }
    .main-visual {
        position: relative;
        .main-visual-img {
            width: 100%;
        }
        .catchcopy {
            width: 242px;
            position: absolute;
            top: 50px;
            right: 100px;
        }
    }
    .global-nav {
        padding: 40px 0 56px 0;
        .nav-list {
            display: flex;
            justify-content: space-between;
            .nav-item {
                border-right: 2px solid $color-gray;
                width: 100%;
                &:first-child {
                    border-left: 2px solid $color-gray;
                    a {
                        color: $color-green;
                    }
                    
                }
                a {
                    display: block;
                    color: $color-black;
                    font-family: $font-set-01;
                    font-weight: bold;
                    line-height: 25px;
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    transition: all 0.3s ease-in;
                    &:hover {
                        background-color: $color-light-gray;
                        color: $color-green;
                    }
                }
            }
        }
    }
    .toggle-button {
        display: none;
    }
}
@media (max-width: $breakpoint-md) {
    header {
        margin-bottom: 66px;
        .site-header-wrap {
            position: relative;
            .site-logo {
                width: $header-logo-sm-width;
                padding: 20px 0 22px 17px;
            }
            .toggle-button {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
        .main-visual {
            .catchcopy {
                width: 121px;
                position: absolute;
                top: 26px;
                right: 15px;
            }
        }
        .global-nav {
            // position: absolute;
            // z-index: 100;
            .nav-list {
                display: block;
                position: absolute;
                top: 72px;
                height: 100vh;
                background-color: white;
                display: none;

                .nav-item {
                    border-bottom: 1px solid $color-light-gray2;
                    // width: 100%;
                    a {
                        width: 100vw;
                        height: 45px;
                        line-height: 45px;
                    }
                    &:first-child {
                        border-top: 1px solid $color-light-gray2;
                        border-left: none;
                        a {
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
}

//news-area
.news-area {
    background-color: $color-light-gray;
    border: 1px solid $color-light-gray2;
    .news-area-wrapper {
        width: 720px;
        margin: 70px auto;
        .section-title-wrap {
            .section-title {
                margin-bottom: 32px;      
            }
        }
        .news-list {
            .news-item {
                display: flex;
                margin-bottom: 24px;
                span {
                    display: block;
                    background-color: $color-black;
                    color: white;
                    width: 130px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 14px;
                    text-align: center;
                    margin-right: 40px;
                }
                a {
                    width: 550px;
                    line-height: 28px;
                    color: $color-black;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-md) {
    .news-area {
        margin: $section-body-margin-sm;
        .site-logo {
            width: $header-logo-sm-width;
            padding: 20px 0 22px 17px;
        }
        .main-visual {
            .catchcopy {
                width: 121px;
                position: absolute;
                top: 26px;
                right: 15px;
            }
        }
        .global-nav {
            display: none;
        }
        .news-area-wrapper {
            width: 90%;
            padding: 44px 25px;
            .news-list {
                .news-item {
                    display: block;
                    width: 100%;
                    span {
                        font-size: 12px;
                        width: 113px;
                        height: 26px;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }
                    a {
                        line-height: 28px;
                        color: $color-black;
                        text-align: justify;
                        text-justify: inter-ideograph;
                        width: none;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}

//features-area
.features-area {
    margin-bottom: 124px;
    .section-title-wrap {
        margin-top: 112px;
        .section-title {
            margin-bottom: 70px;      
        }
    }
    .box-wrap {
        display: flex;
        .box-img {
            width: 360px;
            margin-right: 55px;
        }
        .box-content {
            display: block;
            .box-title {
                font-size: 24px;
                
                font-weight: 700;
                margin-bottom: 40px;
            }
            .box-text {
                line-height: 25.6px;
                text-align: justify;
                text-justify: inter-ideograph;
            }
        }
    }
}
@media (max-width: $breakpoint-md) {
    .features-area {
        margin: $section-body-margin-sm;
        margin-top: 44px;
        margin-bottom: 109px;
        .box-wrap {
            display: block;
            .box-img {
                margin-right: 0px;
                width: 100%;
            }
            .box-content {
                .box-title {
                    font-weight: 300;
                    margin-top: 30px;
                    margin-bottom: 48px;
                }
                .box-text {
                    line-height: 25.6px;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
            }
        }
    }
}

//subscription-area
.subscription-area {
    margin-bottom: 124px;
    .section-title-wrap {
        margin-bottom: 50px;
    }
    .section-description-wrap {
        width: 720px;
        margin: 0 auto 52px auto;
        line-height: 25.6px;
    }
    .card-list {
        display: flex;
        justify-content: space-between;
        .card {
            background-color: white;
            box-shadow: 0px 7px 20px rgba(0,0,0,0.15);
            border: 4px solid $color-light-green;
            width: 344px;
            transition: all 0.2s ease-in;
            a {
                text-decoration: none;
                color: $color-black;
                text-align: center;
                // transition:background-color 3.0s;
                // transition: all 0.3s ease-in;
                transition: all 0.5s ease-in;
                .card-img {
                    width: 100%;
                    margin-bottom: 35px;
                }
                .card-title {
                    font-family: $font-set-01;
                    margin-bottom: 24px;
                    font-size: 22px;
                }
                .card-content {
                    font-size: 40px;
                    font-family: $font-set-01;
                    // text-align: center;
                    margin-bottom: 38px;
                    span {
                        font-size: 32px;
                        &:first-child {
                            margin-right: 8px;
                        }
                        &:last-child {
                            margin-left: 5px;
                        }
                    }
                }
                button {
                    display: block;
                    cursor: pointer;
                    margin: 20px auto;
                    font-size: 16px;
                    border: none;
                    // text-align: center;
                    height: 50px;
                    width: 296px;
                    line-height: 50px;
                    background-color: #eee;
                    transition:background-color 3.0s;
                    transition: all 0.5s ease-in;
                }
                &:hover {
                    transform: translate3d(0,5px, 0);
                    button {
                        // transition: all 0.5s ease-in;
                        background: rgb(199,226,65);
                        background: linear-gradient(90deg, rgba(199,226,65,1) 0%, rgba(71,227,219,1) 100%);
                    }
                }
            }
            &:hover {
                transform: translate3d(0,-5px, 0);
            }
        }
    }
}
@media (max-width: $breakpoint-md) {
    .subscription-area {
        margin: $section-body-margin-sm;
        .section-description-wrap {
            width: 100%;
        }
        .card-list {
            display: block;
            .card {
                width: 100%;
                margin-bottom: 24px;
            }
        }
        
    }
}

//items-area 
.items-area {
    margin-bottom: 460px;
    .section-title-wrap {
        margin-bottom: 70px;
    }
    .items-list {
        display: flex;
        flex-wrap: wrap;
        // vertical-align: bottom;
        .items-item {
            a {
                .items-img {
                    width: $wrapper-body-width / 6;
                    transition: all 0.3s ease-in;
                    vertical-align: bottom;
                    &:hover {
                        transition: all 0.5 ease-in;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-md) {
    .items-area {
        margin: $section-body-margin-sm;
        margin-bottom: 81px;
        .items-list {
            .items-item {
                a {
                    .items-img {
                        width:$section-body-width-sm / 3;
                    }
                }
            }
        }
    }
}

//footer
.footer {
    margin-bottom: 56px;
    text-align: center;
    .footer-text {
        font-family: $font-set-01;
        font-size: 14px;
        color: $color-black;
    }
}
@media (max-width: $breakpoint-md) {
    .footer {   
        margin-bottom: 157px;
    }
}