.wrapper {
  width: 1080px;
  margin: 0 auto; }

body {
  color: #454545; }

.section-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .section-title-wrap .section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    background: url(../img/titlebar.png) no-repeat left top;
    background-size: 40px; }

header .site-logo {
  width: 208px;
  padding: 36px 0; }

header .main-visual {
  position: relative; }
  header .main-visual .main-visual-img {
    width: 100%; }
  header .main-visual .catchcopy {
    width: 242px;
    position: absolute;
    top: 50px;
    right: 100px; }

header .global-nav {
  padding: 40px 0 56px 0; }
  header .global-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .global-nav .nav-list .nav-item {
      border-right: 2px solid #575757;
      width: 100%; }
      header .global-nav .nav-list .nav-item:first-child {
        border-left: 2px solid #575757; }
        header .global-nav .nav-list .nav-item:first-child a {
          color: #9aaf24; }
      header .global-nav .nav-list .nav-item a {
        display: block;
        color: #454545;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        header .global-nav .nav-list .nav-item a:hover {
          background-color: #fafafa;
          color: #9aaf24; }

.news-area {
  background-color: #fafafa;
  border: 1px solid lightgray; }
  .news-area .news-area-wrapper {
    width: 720px;
    margin: 70px auto; }
    .news-area .news-area-wrapper .section-title-wrap .section-title {
      margin-bottom: 32px; }
    .news-area .news-area-wrapper .news-list .news-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 24px; }
      .news-area .news-area-wrapper .news-list .news-item span {
        display: block;
        background-color: #454545;
        color: white;
        width: 130px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        margin-right: 40px; }
      .news-area .news-area-wrapper .news-list .news-item a {
        width: 550px;
        line-height: 28px;
        color: #454545;
        text-align: justify;
        text-justify: inter-ideograph; }

.features-area {
  margin-bottom: 124px; }
  .features-area .section-title-wrap {
    margin-top: 112px; }
    .features-area .section-title-wrap .section-title {
      margin-bottom: 70px; }
  .features-area .box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .features-area .box-wrap .box-img {
      width: 360px;
      margin-right: 55px; }
    .features-area .box-wrap .box-content {
      display: block; }
      .features-area .box-wrap .box-content .box-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px; }
      .features-area .box-wrap .box-content .box-text {
        line-height: 25.6px;
        text-align: justify;
        text-justify: inter-ideograph; }

.subscription-area {
  margin-bottom: 124px; }
  .subscription-area .section-title-wrap {
    margin-bottom: 50px; }
  .subscription-area .section-description-wrap {
    width: 720px;
    margin: 0 auto 52px auto;
    line-height: 25.6px; }
  .subscription-area .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .subscription-area .card-list .card {
      background-color: white;
      -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
      border: 4px solid #c9e23f;
      width: 344px; }
      .subscription-area .card-list .card a {
        text-decoration: none;
        color: #454545;
        text-align: center;
        -webkit-transition: background-color 3.0s;
        -o-transition: background-color 3.0s;
        transition: background-color 3.0s; }
        .subscription-area .card-list .card a .card-img {
          width: 100%;
          margin-bottom: 35px; }
        .subscription-area .card-list .card a .card-title {
          font-family: "Montserrat", sans-serif;
          margin-bottom: 24px;
          font-size: 22px; }
        .subscription-area .card-list .card a .card-content {
          font-size: 40px;
          font-family: "Montserrat", sans-serif;
          margin-bottom: 38px; }
          .subscription-area .card-list .card a .card-content span {
            font-size: 32px; }
            .subscription-area .card-list .card a .card-content span:first-child {
              margin-right: 8px; }
            .subscription-area .card-list .card a .card-content span:last-child {
              margin-left: 5px; }
        .subscription-area .card-list .card a button {
          display: block;
          cursor: pointer;
          margin: 20px auto;
          font-size: 16px;
          border: none;
          height: 50px;
          width: 296px;
          line-height: 50px;
          background-color: #eee;
          -webkit-transition: background-color 3.0s;
          -o-transition: background-color 3.0s;
          transition: background-color 3.0s;
          -webkit-transition: all 0.5s ease-in;
          -o-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in; }
        .subscription-area .card-list .card a:hover button {
          -webkit-transition: all 0.5s ease-in;
          -o-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in;
          background: #c7e241;
          background: -webkit-gradient(linear, left top, right top, from(#c7e241), to(#47e3db));
          background: -webkit-linear-gradient(left, #c7e241 0%, #47e3db 100%);
          background: -o-linear-gradient(left, #c7e241 0%, #47e3db 100%);
          background: linear-gradient(90deg, #c7e241 0%, #47e3db 100%); }

.items-area {
  margin-bottom: 460px; }
  .items-area .section-title-wrap {
    margin-bottom: 70px; }
  .items-area .items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .items-area .items-list .items-item .items-img {
      vertical-align: bottom; }

.footer {
  margin-bottom: 56px;
  text-align: center; }
  .footer .footer-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #454545; }
