@charset "UTF-8";
/**
* style.scss
* TAKAOSANのスタイルシート
* @author YUKIYA KIMURA
* @version 1.0
*/
/*
変数設定
*/
/*
共通
*/
.wrapper {
  width: 1080px;
  margin: 0 auto; }

@media (max-width: 768px) {
  .wrapper {
    width: 100%; } }

body {
  color: #454545;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.section-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .section-title-wrap .section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    background: url(../img/titlebar.png) no-repeat left top;
    background-size: 40px; }

html.hidden,
body.hidden {
  overflow: hidden;
  height: 100%; }

/*
header
*/
header .site-logo {
  width: 208px;
  padding: 36px 0; }

header .main-visual {
  position: relative; }
  header .main-visual .main-visual-img {
    width: 100%; }
  header .main-visual .catchcopy {
    width: 242px;
    position: absolute;
    top: 50px;
    right: 100px; }

header .global-nav {
  padding: 40px 0 56px 0; }
  header .global-nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .global-nav .nav-list .nav-item {
      border-right: 2px solid #575757;
      width: 100%; }
      header .global-nav .nav-list .nav-item:first-child {
        border-left: 2px solid #575757; }
        header .global-nav .nav-list .nav-item:first-child a {
          color: #9aaf24; }
      header .global-nav .nav-list .nav-item a {
        display: block;
        color: #454545;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        header .global-nav .nav-list .nav-item a:hover {
          background-color: #fafafa;
          color: #9aaf24; }

header .toggle-button {
  display: none; }

@media (max-width: 768px) {
  header {
    margin-bottom: 66px; }
    header .site-header-wrap {
      position: relative; }
      header .site-header-wrap .site-logo {
        width: 187px;
        padding: 20px 0 22px 17px; }
      header .site-header-wrap .toggle-button {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px; }
    header .main-visual .catchcopy {
      width: 121px;
      position: absolute;
      top: 26px;
      right: 15px; }
    header .global-nav {
      padding: 0; }
      header .global-nav .nav-list {
        display: block;
        position: absolute;
        top: 72px;
        height: 100vh;
        background-color: white;
        display: none; }
        header .global-nav .nav-list .nav-item {
          border-bottom: 1px solid #eeeeee; }
          header .global-nav .nav-list .nav-item a {
            width: 100vw;
            height: 45px;
            line-height: 45px; }
          header .global-nav .nav-list .nav-item:first-child {
            border-top: 1px solid #eeeeee;
            border-left: none; }
            header .global-nav .nav-list .nav-item:first-child a {
              color: #454545; } }

/*
news-area
*/
.news-area {
  background-color: #fafafa;
  border: 1px solid #eeeeee; }
  .news-area .news-area-wrapper {
    width: 720px;
    margin: 70px auto; }
    .news-area .news-area-wrapper .section-title-wrap .section-title {
      margin-bottom: 32px; }
    .news-area .news-area-wrapper .news-list .news-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 24px; }
      .news-area .news-area-wrapper .news-list .news-item span {
        display: block;
        background-color: #454545;
        color: white;
        width: 130px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        margin-right: 40px; }
      .news-area .news-area-wrapper .news-list .news-item a {
        width: 550px;
        line-height: 28px;
        color: #454545;
        text-align: justify;
        text-justify: inter-ideograph; }

@media (max-width: 768px) {
  .news-area {
    margin: 0 3%; }
    .news-area .site-logo {
      width: 187px;
      padding: 20px 0 22px 17px; }
    .news-area .main-visual .catchcopy {
      width: 121px;
      position: absolute;
      top: 26px;
      right: 15px; }
    .news-area .global-nav {
      display: none; }
    .news-area .news-area-wrapper {
      width: 90%;
      padding: 44px 25px;
      margin: 0; }
      .news-area .news-area-wrapper .news-list .news-item {
        display: block;
        width: 100%; }
        .news-area .news-area-wrapper .news-list .news-item span {
          font-size: 12px;
          width: 113px;
          height: 26px;
          line-height: 26px;
          margin-bottom: 10px; }
        .news-area .news-area-wrapper .news-list .news-item a {
          line-height: 28px;
          color: #454545;
          text-align: justify;
          text-justify: inter-ideograph;
          width: none;
          word-wrap: break-word; } }

/*
features-area
*/
.features-area {
  margin-bottom: 124px; }
  .features-area .section-title-wrap {
    margin-top: 44px; }
    .features-area .section-title-wrap .section-title {
      margin-bottom: 70px; }
  .features-area .box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .features-area .box-wrap .box-img {
      width: 360px;
      margin-right: 55px; }
    .features-area .box-wrap .box-content {
      display: block; }
      .features-area .box-wrap .box-content .box-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px; }
      .features-area .box-wrap .box-content .box-text {
        line-height: 25.6px;
        text-align: justify;
        text-justify: inter-ideograph; }

@media (max-width: 768px) {
  .features-area {
    margin: 0 3%;
    margin-top: 44px;
    margin-bottom: 109px; }
    .features-area .box-wrap {
      display: block; }
      .features-area .box-wrap .box-img {
        margin-right: 0px;
        width: 100%; }
      .features-area .box-wrap .box-content .box-title {
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 48px; }
      .features-area .box-wrap .box-content .box-text {
        line-height: 25.6px;
        text-align: justify;
        text-justify: inter-ideograph; } }

/*
subscription-area
*/
.subscription-area {
  margin-bottom: 124px; }
  .subscription-area .section-title-wrap {
    margin-bottom: 50px; }
  .subscription-area .section-description-wrap {
    width: 720px;
    margin: 0 auto 52px auto;
    line-height: 25.6px; }
  .subscription-area .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .subscription-area .card-list .card {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: white;
      -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
      border: 4px solid #c9e23f;
      width: 344px;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      .subscription-area .card-list .card a {
        text-decoration: none;
        color: #454545;
        text-align: center;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in; }
        .subscription-area .card-list .card a .card-img {
          width: 100%;
          margin-bottom: 35px; }
        .subscription-area .card-list .card a .card-title {
          font-family: "Montserrat", sans-serif;
          margin-bottom: 24px;
          font-size: 22px; }
        .subscription-area .card-list .card a .card-content {
          font-size: 40px;
          font-family: "Montserrat", sans-serif;
          margin-bottom: 38px; }
          .subscription-area .card-list .card a .card-content span {
            font-size: 32px; }
            .subscription-area .card-list .card a .card-content span:first-child {
              margin-right: 8px; }
            .subscription-area .card-list .card a .card-content span:last-child {
              margin-left: 5px; }
        .subscription-area .card-list .card a .card-btn {
          display: block;
          cursor: pointer;
          margin: 20px auto;
          font-size: 16px;
          border: none;
          height: 50px;
          width: 296px;
          line-height: 50px;
          background-color: #eee;
          -webkit-transition: background-color 3.0s;
          -o-transition: background-color 3.0s;
          transition: background-color 3.0s; }
        .subscription-area .card-list .card a:hover {
          -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0); }
          .subscription-area .card-list .card a:hover .card-btn {
            background: #c7e241;
            background: -webkit-gradient(linear, left top, right top, from(#c7e241), to(#47e3db));
            background: -webkit-linear-gradient(left, #c7e241 0%, #47e3db 100%);
            background: -o-linear-gradient(left, #c7e241 0%, #47e3db 100%);
            background: linear-gradient(90deg, #c7e241 0%, #47e3db 100%); }
      .subscription-area .card-list .card:hover {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0); }

@media (max-width: 768px) {
  .subscription-area {
    margin: 0 3%;
    margin-bottom: 100px; }
    .subscription-area .section-title-wrap {
      margin-bottom: 10px; }
    .subscription-area .section-description-wrap {
      width: 100%;
      margin-bottom: 40px; }
    .subscription-area .card-list {
      display: block; }
      .subscription-area .card-list .card {
        width: 100%;
        margin-bottom: 24px; } }

/*
items-area
*/
.items-area {
  margin-bottom: 460px; }
  .items-area .section-title-wrap {
    margin-bottom: 70px; }
  .items-area .items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .items-area .items-list .items-item a .items-img {
      width: 180px;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      vertical-align: bottom; }
      .items-area .items-list .items-item a .items-img:hover {
        -webkit-transition: all 0.5 ease-in;
        -o-transition: all 0.5 ease-in;
        transition: all 0.5 ease-in;
        opacity: 0.5; }

@media (max-width: 768px) {
  .items-area {
    margin: 0 3%;
    margin-bottom: 81px; }
    .items-area .section-title-wrap {
      margin-bottom: 30px; }
    .items-area .items-list .items-item a .items-img {
      width: 31.33333vw; } }

/*
footer
*/
.footer {
  margin-bottom: 56px;
  text-align: center; }
  .footer .footer-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #454545; }

@media (max-width: 768px) {
  .footer {
    margin-bottom: 157px; } }
